* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Quantico', sans-serif;
    font-family: 'Tilt Warp', cursive;
    font-family: 'Ubuntu', sans-serif;
}
/* shared style */
.common-btn{
    border-radius: 6px;
    border: none;
    background-color: #E55473;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
}
.word-color{
    color:#E55473;
}


/* Header style starts from here */
.header-container {
    width: auto;
    height: 90vh;
    background-color: rgba(229, 84, 115, 0.225);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h-img {
    padding-top: 67px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: bolder;
}

.header-desciption {
    color: rgba(0, 0, 0, 0.447);
    font-size: 18px;
    font-weight: bolder;
    padding: 30px 0px;
}


/* featured style starts from here */
.featured-text {
    text-align: center;
}


.flower-img1 {
    width: 300px;
    height: 450px;
    border-radius: 200px 200px 0px 0px;
    background-color: rgba(255, 192, 203, 0.847);
    padding: 40px 40px 0px 40px;
}

.flower-img2 {
    width: 300px;
    height: 450px;
    border-radius: 200px 200px 0px 0px;
    background-color: rgba(135, 207, 235, 0.469);
    padding: 40px 40px 0px 40px;
}

.flower-img3 {
    width: 300px;
    height: 450px;
    border-radius: 200px 200px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 40px 40px 0px 40px;
}

.featured-img {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 90px;

}

.flower-name {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
}

.featured-title {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 45px;
}

.featured-description {
    color: rgba(0, 0, 0, 0.642);
    font-size: 20px;
    padding-bottom: 48px;
}

.featured-container {
    padding: 80px 0px;
}

/* sale section style starts here */
.sale-container{
    height: 600px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
}
.sale-title{
text-align: center;
font-size: 40px;
}
.sale-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.642);
    text-align: center;
    padding: 30px 0px;
}
.sale-details{
    text-align: center;
}

/* instagram style starts from here */
.instagram-details{
    text-align: center;
}
.instagram-img{
display:flex;
align-items: center;
justify-content: space-evenly;
margin: 0px 70px;
padding-top: 30px;
}
.instagram-container{
    margin: 30px 0px;
}
.insta-title{
    font-size: 40px;
}
.insta-description{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.642);
    padding: 30px 0px;
}

/* deals section style starts from here */
.email-box{
    padding: 18px 200px;
    border-radius: 6px;
    border: none;
   
}
.deals-container{
    max-width: 1200px;
    height: 400px;
    background-image:url('./images/background.png');
    background-size: cover;
    text-align: center;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deal-title{
    font-size: 40px;
}
.deal-description{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.642);
    padding: 20px 0px 40px 0px;
}

/* Footer style starts from here */
.shop-footer{
    width: auto;
    height: 350px;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-title{
    font-size: 50px;
}
.shop-description{
    font-size: 22px;
    padding: 20px 0px;
}
.shop-description2{
    color:gray
}

/* extra part style starts from here */
.extra-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 120px 0px;
    margin: 0px 40px;
}
.extra-text{
    background-color: rgba(171, 99, 216, 0.319);
    width: 520px;
    height: 400px;
    margin-left: 33%;
    text-align: center;
}
.extra-title{
    padding-top: 100px;
    font-size:40px;
}
.extra-description{
    padding: 20px 0px;
    color: rgb(57, 53, 53);
}
.extra-img{
    margin-right: 65px;
}